In [1]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [37]:
'''
q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list
'''

'\nq3 : Try to extract all the list entity \nq4 : Try to extract all the dict enteties\nq5 : Try to extract all the tuples entities\nq6 : Try to extract all the numerical data it may b a part of dict key and values \nq7 : Try to give summation of all the numeric data \nq8 : Try to filter out all the odd values out all numeric data which is a part of a list \nq9 : Try to extract "ineruon" out of this data\nq10 :Try to find out a number of occurances of all the data \nq11 : Try to find out number of keys in dict element\nq12 : Try to filter out all the string data \nq13 : Try to Find  out alphanum in data\nq14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset \nq15 : Try to unwrape all the collection inside collection and create a flat list\n'

In [5]:
#Q3

l1=[]
l2=[]
for i in l:
    if type(i)==list:
        l1.append(i)
        l2.extend(i)
print(l1)
print(l2)

[[1, 2, 3, 4], ['ineuron', 'data science ']]
[1, 2, 3, 4, 'ineuron', 'data science ']

In [6]:
#q4
l1=[]
for i in l:
    if type(i)==dict:
        l1.append(i)
print(l1)

[{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}]

In [8]:
#q5

l1=[]
l2=[]
for i in l:
    if type(i)==tuple:
        l1.append(i)
        l2.extend(i)
print(l1)
print(l2)

[(2, 3, 4, 5, 6), (3, 4, 5, 6, 7)]
[2, 3, 4, 5, 6, 3, 4, 5, 6, 7]

In [10]:
#q6

l1=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l1.append(j)
    elif type(i)==dict:
        for x,y in i.items():
            if type(x)==int:
                l1.append(x)
            if type(y)==int:
                l1.append(y)
print(l1)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [11]:
#q7
l1=[]
s=0
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l1.append(j)
    elif type(i)==dict:
        for x,y in i.items():
            if type(x)==int:
                l1.append(x)
            if type(y)==int:
                l1.append(y)
for i in l1:
    s=s+i
print(s)

156

In [12]:
#q8
l1=[]
s=0
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l1.append(j)
    elif type(i)==dict:
        for x,y in i.items():
            if type(x)==int:
                l1.append(x)
            if type(y)==int:
                l1.append(y)
for i in l1:
    if i%2!=0:
        print(i)

1
3
3
5
3
5
7
45
5
23
3
7

In [16]:
#q9
for i in l:
    if type(i)!=dict:
        for j in i:
            if type(j)==str and j=='ineuron':
                print(j)
    if type(i)==dict:
        for x,y in i.items():
            if type(x)==str or type(y)==str:
                if x=='ineuron':
                    print(x)
                if y=='ineuron':
                    print(y)

ineuron
ineuron

In [18]:
#q10

l1=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int or type(j)==str:
                l1.append(j)
    elif type(i)==dict:
        for x,y in i.items():
            if type(x)==int or type(x)==str:
                l1.append(x)
            if type(y)==int or type(y)==str:
                l1.append(y)
for i in set(l1):
    print('{} occured {} times'.format(i,l1.count(i)))

sudh occured 1 times
1 occured 1 times
2 occured 2 times
3 occured 4 times
4 occured 4 times
5 occured 3 times
6 occured 3 times
7 occured 2 times
k3 occured 1 times
k1 occured 1 times
8 occured 1 times
ineuron occured 2 times
45 occured 1 times
data science  occured 1 times
23 occured 1 times
kumar occured 1 times
k2 occured 1 times

In [19]:
#q11
c=0
for i in l:
    if type(i)==dict:
        for j in i:
            c=c+1
print(c)

5

In [20]:
#q12

l1=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==str:
                l1.append(j)
    elif type(i)==dict:
        for x,y in i.items():
            if type(x)==str:
                l1.append(x)
            if type(y)==str:
                l1.append(y)
print(l1)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science ']

In [25]:
'sudhan shu'.isalnum()

False

In [23]:
'sudhans324'.isalnum()

True

In [27]:
#q13 alphanum

l1=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)!=int:
                if j.isalnum():
                    l1.append(j)
    elif type(i)==dict:
        for x,y in i.items():
            if type(x)!=int:
                if x.isalnum():
                    l1.append(x)
            if type(y)!=int:
                if y.isalnum():
                    l1.append(y)
print(l1)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron']

In [32]:
#q14 multiplication

for i in l:
    s=1
    if type(i)==list:
        for j in i:
            if type(j)==int:
                s=s*j
        print(s)
    elif type(i)==tuple:
        for j in i:
            if type(j)==int:
                s=s*j
        print(s)
    elif type(i)==set:
        for j in i:
            if type(j)==int:
                s=s*j
        print(s)
    elif type(i)==dict:
        for x,y in i.items():
            if type(x)==int:
                s=s*x
            if type(y)==int:
                s=s*y
        print(s)

24
720
2520
20700
1008
1

In [33]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [34]:
56*18

1008

In [36]:
#q15 last question
l1=[]
for i in l:
    if type(i)!=dict:
        for j in i:
            l1.append(j)
    if type(i)==dict:
        for x,y in i.items():
            l1.append(x)
            l1.append(y)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']