In [1]:
#Q1

a=int(input('enter distance in KM: '))
print('Equivalent distance in miles will be {} miles'.format(a*0.621371))

enter distance in KM: 10
Equivalent distance in miles will be 6.21371

In [4]:
#Q2

a=int(input('enter celsius measurement "째C": '))
print('Equivalent fahrenheit measurement will be {} 째F'.format((a * 9/5) + 32))

enter celsius measurement "째C": 37
Equivalent fahrenheit measurement will be 98.6 째F

In [7]:
#Q3

import calendar as c

a=int(input('enter Year: '))
#b=int(input('enter Month: '))
print(c.calendar(2022))

enter Year: 2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [9]:
#Q4

a=int(input('enter coffecient of X^2 : '))
b=int(input('enter coffecient of X^1 : '))
c=int(input('enter coffecient of X^0 : '))
x1= (-b+((b*b)-4*a*c)**(1/2))/(2*a)
x2= (-b-((b*b)-4*a*c)**(1/2))/(2*a)
print('first root will be {} and second root will be {}'.format(x1,x2))

enter coffecient of X^2 : 12
enter coffecient of X^1 : 43
enter coffecient of X^0 : 87
first root will be (-1.7916666666666667+2.009957849198723j) and second root will be (-1.7916666666666667-2.009957849198723j)

In [10]:
#Q5

a=int(input('enter value of a : '))
b=int(input('enter value of b : '))
a=a+b         # a=5 b=4------>  a=9 b=4
b=a-b         # b=5 a=9
a=a-b
print('a stores : {} and b stores : {}'.format(a,b))

enter value of a : 23
enter value of b : 67
a stores : 67 and b stores : 23